%h1= @post.display_subject

.post
  .subject= @post.display_subject
  .image= image_tag @post.image.url(:main) if @post.image?
  .body=    @post.body

  - for reply in @post.replies
    .reply
      .subject= reply.subject
      .image=   image_tag reply.image.url(:main) if reply.image?
      .body=    reply.body

  %h2 Care to Repry?
  = form_for [@post.topic, @post, @post.replies.new], :html => {:multipart => true} do |f|
    = f.label      :subject
    = f.text_field :subject
    = f.label      :image
    = f.file_field :image
    = f.label      :body
    = f.text_area  :body
    = f.submit

%style
  :sass
    .post
      :border-top 2px dotted black
      :padding 10px 0
    .subject
      :font-weight bold
    .reply
      :border-top 1px dotted black
      :margin-top 10px
      :padding 10px 40px
